/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*
 * Plateau de 10 colonnes
 */

.plateau-container {
    max-width: 400px;
    margin: 0 auto;
    border: 3px solid black;
}

.plateau {
    width: 100%;
    height: 0;
    padding-bottom: 160%;
}

/*
 * Une piece du tetris
 */

.piece {
    position: relative;
}

.piece > div {
    position: absolute;
    width: 10%;
    height: 0;
    padding-bottom: 5%;
    padding-top: 5%;
    background: #5799e3;
}

.piece > div > span {
    display: block;
    position: relative;
    left: 25%;
    top: 0;
    margin-top: -25%;
    width: 50%;
    height: 0;
    padding-bottom: 50%;
    background: black;
}

/*
 * Les différentes formes
 */

/*
 *	 _
 *	|_|    _ _ _ _
 *	|_|   |_|_|_|_|
 *	|_|
 *	|_|
 */
.I > div {
    background: #e3cf3c;
    top: 0;
}

.I.rot0 div:nth-child(1),
.I.rot1 div:nth-child(1),
.I.rot2 div:nth-child(1),
.I.rot3 div:nth-child(1) {
    left: 0;
}

.I.rot0 div:nth-child(2),
.I.rot2 div:nth-child(2) {
    left: 0;
    margin-top: 10%;
}

.I.rot1 div:nth-child(2),
.I.rot3 div:nth-child(2) {
    left: 10%;
}

.I.rot0 div:nth-child(3),
.I.rot2 div:nth-child(3) {
    left: 0;
    margin-top: 20%;
}

.I.rot1 div:nth-child(3),
.I.rot3 div:nth-child(3) {
    left: 20%;
}

.I.rot0 div:nth-child(4),
.I.rot2 div:nth-child(4) {
    left: 0;
    margin-top: 30%;
}

.I.rot1 div:nth-child(4),
.I.rot3 div:nth-child(4) {
    left: 30%;
}

/*           _ _               _
 *  _       |_|_|   _ _ _     |_|
 * |_|_ _   |_|    |_|_|_|   _|_|
 * |_|_|_|  |_|        |_|  |_|_|
 *
 */
.J > div {
    background: #e32d08;
    top: 0;
}

.J.rot0 div:nth-child(1),
.J.rot1 div:nth-child(1),
.J.rot2 div:nth-child(1) {
    left: 0;
}

.J.rot0 div:nth-child(2),
.J.rot1 div:nth-child(2) {
    left: 0;
    margin-top: 10%;
}

.J.rot2 div:nth-child(2) {
    left: 20%;
}

.J.rot3 div:nth-child(2) {
    left: 10%;
    margin-top: 20%;
}

.J.rot1 div:nth-child(3),
.J.rot2 div:nth-child(3),
.J.rot3 div:nth-child(1) {
    left: 10%;
}

.J.rot0 div:nth-child(3),
.J.rot3 div:nth-child(3) {
    left: 10%;
    margin-top: 10%;
}

.J.rot0 div:nth-child(4),
.J.rot2 div:nth-child(4) {
    left: 20%;
    margin-top: 10%;
}

.J.rot1 div:nth-child(4),
.J.rot3 div:nth-child(4) {
    left: 0;
    margin-top: 20%;
}

/*          _             _ _
 *      _  |_|    _ _ _  |_|_|
 *  _ _|_| |_|_  |_|_|_|   |_|
 * |_|_|_| |_|_| |_|       |_|
 *
 */
.L > div {
    background: #00e310;
    top: 0;
}

.L.rot1 div:nth-child(1),
.L.rot2 div:nth-child(1),
.L.rot3 div:nth-child(1) {
    left: 0;
}

.L.rot2 div:nth-child(2),
.L.rot3 div:nth-child(2) {
    left: 10%;
}

.L.rot0 div:nth-child(1),
.L.rot1 div:nth-child(2),
.L.rot2 div:nth-child(3) {
    left: 0;
    margin-top: 10%;
}

.L.rot0 div:nth-child(2),
.L.rot3 div:nth-child(3) {
    left: 10%;
    margin-top: 10%;
}

.L.rot0 div:nth-child(3),
.L.rot2 div:nth-child(4) {
    left: 20%;
}

.L.rot0 div:nth-child(4) {
    left: 20%;
    margin-top: 10%;
}

.L.rot1 div:nth-child(3) {
    left: 0;
    margin-top: 20%;
}

.L.rot1 div:nth-child(4),
.L.rot3 div:nth-child(4) {
    left: 10%;
    margin-top: 20%;
}

/*
 *  _ _
 * |_|_|
 * |_|_|
 *
 */
.O > div {
    background: #9608D3;
    top: 0;
}

.O div:nth-child(1) {
    left: 0;
}

.O div:nth-child(2) {
    left: 0;
    margin-top: 10%;
}

.O div:nth-child(3) {
    left: 10%;
}

.O div:nth-child(4) {
    left: 10%;
    margin-top: 10%;
}

/*
 *  _ _       _
 * |_|_|_   _|_|
 *   |_|_| |_|_|
 *         |_|
 */
.N > div {
    background: #004ff4;
    top: 0;
}

.N.rot0 div:nth-child(1),
.N.rot2 div:nth-child(1) {
    left: 0;
}

.N.rot1 div:nth-child(1),
.N.rot3 div:nth-child(1) {
    left: 0;
    margin-top: 10%;
}

.N.rot0 div:nth-child(2),
.N.rot1 div:nth-child(2),
.N.rot2 div:nth-child(2),
.N.rot3 div:nth-child(2) {
    left: 10%;
    top: 0;
}

.N.rot0 div:nth-child(3),
.N.rot1 div:nth-child(3),
.N.rot2 div:nth-child(3),
.N.rot3 div:nth-child(3) {
    left: 10%;
    margin-top: 10%;
}

.N.rot0 div:nth-child(4),
.N.rot2 div:nth-child(4) {
    left: 20%;
    margin-top: 10%;
}

.N.rot1 div:nth-child(4),
.N.rot3 div:nth-child(4) {
    left: 0;
    margin-top: 20%;
}

/*          _
 *    _ _  |_|_
 *  _|_|_| |_|_|
 * |_|_|     |_|
 *
 */
.Z > div {
    background: #f46f00;
    top: 0;
}

.Z.rot0 div:nth-child(1),
.Z.rot2 div:nth-child(1) {
    left: 10%;
}

.Z.rot1 div:nth-child(1),
.Z.rot3 div:nth-child(1) {
    left: 0;
}

.Z.rot0 div:nth-child(2),
.Z.rot2 div:nth-child(2) {
    left: 20%;
}

.Z.rot1 div:nth-child(2),
.Z.rot3 div:nth-child(2) {
    left: 10%;
    margin-top: 20%;
}

.Z.rot0 div:nth-child(3),
.Z.rot1 div:nth-child(3),
.Z.rot2 div:nth-child(3),
.Z.rot3 div:nth-child(3) {
    left: 0;
    margin-top: 10%;
}

.Z.rot0 div:nth-child(4),
.Z.rot1 div:nth-child(4),
.Z.rot2 div:nth-child(4),
.Z.rot3 div:nth-child(4) {
    left: 10%;
    margin-top: 10%;
}

/*          _                _
 *    _    |_|_   _ _ _    _|_|
 *  _|_|_  |_|_| |_|_|_|  |_|_|
 * |_|_|_| |_|     |_|      |_|
 *
 */
.T > div {
    background: #00f4ee;
    top: 0;
}

.T.rot1 div:nth-child(1),
.T.rot2 div:nth-child(1) {
    left: 0;
}

.T.rot0 div:nth-child(1),
.T.rot2 div:nth-child(2),
.T.rot3 div:nth-child(1) {
    left: 10%;
}

.T.rot2 div:nth-child(3) {
    left: 20%;
}

.T.rot0 div:nth-child(2),
.T.rot1 div:nth-child(2),
.T.rot3 div:nth-child(2) {
    left: 0;
    margin-top: 10%;
}

.T.rot0 div:nth-child(3),
.T.rot1 div:nth-child(3),
.T.rot2 div:nth-child(4),
.T.rot3 div:nth-child(3) {
    left: 10%;
    margin-top: 10%;
}

.T.rot0 div:nth-child(4) {
    left: 20%;
    margin-top: 10%;
}

.T.rot1 div:nth-child(4) {
    left: 0;
    margin-top: 20%;
}

.T.rot3 div:nth-child(4) {
    left: 10%;
    margin-top: 20%;
}

/*
 * Les positions
 */

.pos1 {
    position: relative;
    left: 0;
}

.pos2 {
    position: relative;
    left: 10%;
}

.pos3 {
    position: relative;
    left: 20%;
}

.pos4 {
    position: relative;
    left: 30%;
}

.pos5 {
    position: relative;
    left: 40%;
}

.pos6 {
    position: relative;
    left: 50%;
}

.pos7 {
    position: relative;
    left: 60%;
}

.pos8 {
    position: relative;
    left: 70%;
}

.pos9 {
    position: relative;
    left: 80%;
}

.pos10 {
    position: relative;
    left: 90%;
}








